.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}
.form-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 10px;
}
#questions-form {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 30px;
}

.question {
  grid-column-start: 1;
  grid-column-end: 6;
}
.lab {
  grid-column-start: 1;
  grid-column-end: 3;
}
.cc {
  grid-column-start: 3;
  grid-column-end: 6;
}
#medicalForm > div.contain.form-row{
  
  border-left-width: 23px;
  margin-left: 286px;

  padding-bottom: 25px;
  padding-top: 25px;

}
#medicalForm > div:nth-child(2) > select{
  margin-bottom: 35px;

}
h2{
  text-align: center;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#root > div.form-card{ 
  margin-top: 30px;
}