
.container {
	justify-content: center;
  }
  .card {
	margin: 10px;
	background-color: #254288;
	border-radius: 10px;
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	width: 300px;
	height: 25rem;
  }
  .card-header img {
	width: 100%;
	height: 200px;
	object-fit: cover;
  }
  .card-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 20px;
	min-height: 250px;
  }
  
  .tag {
	background: #cccccc;
	border-radius: 50px;
	font-size: 12px;
	margin: 0;
	color: #fff;
	padding: 2px 10px;
	text-transform: uppercase;
	cursor: pointer;
  }
  .tag-teal {
	background-color: #47bcd4;
  }
  .tag-purple {
	background-color: #5e76bf;
  }
  .tag-pink {
	background-color: #cd5b9f;
  }
  
  .card-body p {
	font-size: 13px;
	margin: 0 0 40px;
  }
  .user {
	display: flex;
	margin-top: auto;
  }
  
  .user img {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin-right: 10px;
  }
  .user-info h5 {
	margin: 0;
  }
  .user-info small {
	color: #545d7a;
  }
  
  #root > div > div{
  
	  margin-left: 75px;
  
  }

  h2{
	  text-align: center;
	  margin-top: 20px;
	  color: #254288
	  ;
	  /* border-bottom: 2px solid  rgba(0, 0, 0, 0.151); */
	  

  }
  h4{
	  color:#fff;
  }
  h6{
	  color: #fff;
  }
  #root > div:nth-child(9) > div:nth-child(1){
	  
    margin-top: 0px!important;

  }
  #root > h2{
    margin-top: 46px;
    margin-bottom: 0px;
  }